# Environment variables and secrets
.env

# Virtual environment
/venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Logs and databases
*.log
*.db
*.sqlite3
/src/database/

# OS-specific files
.DS_Store

# IDE/Editor directories
.vscode/
.idea/

# Test cache
.pytest_cache/